* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
}

.sidebar {
    float: left;
    width: 240px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: #0c0d1a;
}

.sidebar-wraper {
    padding-bottom: 200px;
}

.sidebar-menu {
    margin: 20px 0;
    color: rgb(190,190,190);
}

.sidebar-logo {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.sidebar-logo img {
    max-width: 150px;
    width: 100%;
}

.sidebar-menu a {
    color: rgb(190,190,190);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.sidebar-menu span {
   margin: 0 20px;
}

.sidebar-menu a.menu-selected {
    color: #fff;
    background-color: #313341;
    border-radius: 5px;
}

.sidebar-menu-item {
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-flex;
    margin: 10px;    
}

.sidebar-menu p.sidebar-title {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    margin-left: 20px;
}

.sidebar-menu-item span{
    margin-top: 12px;
    margin: 0 10px;
}

.sidebar-playlists {
    padding: 20px 0;
    margin: 0 10px;
    border-top: 1px solid rgb(40,40,40);
}

.sidebar-playlists a {
    margin: 12px 0;
    display: block;
    text-decoration: none;
    color: rgb(190,190,190);
}

.sidebar-playlists a:hover {
    color: rgb(255, 255, 255);
}

/* MAIN */

.main {
    /* Define a largura do conteudo da main descontando a largura definida previamente para
    o menu lateral */
    width: calc(100% - 250px);
    background-color: #0e101b;
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main-row {
    display: flex;
    /* Quebra linha flexbox */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-wraper {
    padding-bottom: 200px;
}

.main-row-title {
    width: 100%;
}

.main-row-title h2 {
    color: rgb(190,190,190);
}

.cards {
    width: 100%;
    display: flex;
}

.main-col {
    cursor: pointer;
    width: 10%;
    margin-right: 1%;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;

    background-color: #282828;
    transition: all .3s ease-in;
}

.main-col:hover {
    background-color: #4b4b4b;
    box-shadow: rgba(5, 5, 5, 0.788) 0px 0px 16px;
}

.main-col.selected {
    background-color: #4b4b4b;
    box-shadow: rgba(5, 5, 5, 0.788) 0px 0px 16px;
}

.main-col img {
    max-width: 120px;
    width: 100%;
}

.main-col h3 {
    color: rgb(190,190,190);
    margin: 8px 0;
}

.main-col p {
    color: rgb(100,100,100);
    margin: 8px 0;
    font-size: 13px;
    text-align: left;
}


.player {
    width: 100%;
    padding: 30px;
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgb(60,60,60);
}

.player-artist {
    width: 20%;
}

.player-artist img {
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.player-artist h3 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.player-artist h4 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.player-artist h3 > span {
    color: rgb(200,200,200);
    font-size: 13px;
}
.player-album {
    width: 20%;
}

.player-album img {
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.player-album h3 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.player-album h3 > span {
    color: rgb(200,200,200);
    font-size: 13px;
}

.player-control {
    width: 70%;
    margin: auto;
    text-align: center;
}

.player-control-buttons a {
    color: rgb(255, 255, 255);
    margin: 8px 10px;
}

.player-control-buttons a span {
    font-size: 30px;    
    background-color: #0e101b3b;
    border-radius: 50%;
    padding: 6px;
}
.player-control-buttons a span:hover {  
    background-color: #0e101b5b;    
}

.player-control-progress {
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130,130,130);
}

.player-control-progress-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

@media  screen and  (max-width: 1600px) {
    .main-col {
        width: 20%;
    }
}
@media  screen and  (max-width: 980px) {
    .main-col {
        width: 48%;
        margin-right: 2%;
    }
}
@media  screen and  (max-width: 768px) {
    .main-col {
        width: 48%;
        margin-right: 2%;
    }
}

@media  screen and  (max-width: 640px) {
    .main-col {
        width: 68%;
        margin-right: 5%;
    }
}

@media  screen and  (max-width: 540px) {
    .main {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .main-col {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
}